.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tbody {
  font-family: 'Yeon Sung';
  display:block;
  height:250px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:100%;
  height:100%;
}
.inputForm{
  font-family: 'Bangers';
}
.budget{
  font-family: 'Bangers';
  color: rgba(238,110,115,0.7);
}
.tabs {
  font-family: 'Bangers';
}

.menu {
  height:200px;
  display:block;
  overflow:auto;
}

.chart > div > div > div {
  position:relative;
}